{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="container">
        <div class="pt-3">
            <h2>Activites</h2>
            <ul class="list-group">
                {% for activity in activities reversed %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <span><b>{{activity.action_name}}</b> {{activity.created}}</span><br />
                            <p>{{activity.action_detail}}</p>
                        </span>
                        <div class="btn-group">
                            <a href="/remove-activity/{{activity.id}}" class="btn btn-danger">Delete</a>
                        </div>
                    </li>
                {% endfor %}
                
                {% if  activities|length == 0 %}
                    <h2 class="text-center">No activity Found</h2>
                {% endif %}
                    
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}