{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="container">
        <div class="pt-3">
            <h2>Dashboard</h2>
            <ul class="list-group">
                {% for todo in todo_list reversed %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span><b>{{forloop.counter}}.</b> {{todo.todo_name}}</span>
                        <div class="btn-group">
                            <a href="/edit-item/{{todo.id}}" class="btn btn-primary">Edit</a>
                            <a href="/remove-item/{{todo.id}}" class="btn btn-danger">Delete</a>
                        </div>
                    </li>
                {% endfor %}
                
                {% if  todo_list|length == 0 %}
                    <h2 class="text-center">No Data Found</h2>
                {% endif %}
                    
            </ul>
        </div>
    </div>
    {% else %}
        <h2>User Not login <a href="/">Login</a></h2>
        <br />
        <b>OR</b>
        <br />
        <a href="register/">Register</a>
    {% endif %}
{% endblock %}